.homePage {
    padding: 1rem;
    margin: 0 0 0 24px;
    color: white;
}
.chart_music {
    border-radius: 0.5rem;
    background: linear-gradient(to right, #3d3c3c, #131212);
    background-size: cover;
    animation: background-animation 0.2s infinite linear;
}
@keyframes background-animation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
