
.ant-layout-header{
    line-height: normal;
}
.ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button {
    /* background-color: rgb(20, 179, 115); */
    background-color: rgb(83, 82, 82);

}
.ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button:hover{
        background-color: rgb(27, 95, 61);

    }
.ant-input-group >.ant-input:first-child{
    background-color: rgb(91, 88, 88);
    border:1px solid rgb(91, 88, 88);
    color: white;
}  
.header-icon_control svg{
    background-color: rgb(83, 82, 82);
    padding: 0.5rem;
    border-radius: 50%;
}
.header-icon_control svg:hover{
    background-color: rgb(24, 142, 81);
    color: white;
    transition: 0.2s ease-in;
}