#m-siderbar {
    min-height: 100vh;
    background-color: #232427;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-layout-sider-collapsed .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ant-menu,
.ant-menu-item {
    background-color: #232427;
    margin-top: 1rem;
}
.ant-menu-dark .ant-menu-item-selected {
    background-color: rgba(230, 240, 255, 0.2) ;

}
.ant-menu-item-selected {
    background-color: rgba(230, 240, 255, 0.2) ;
}
.ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
    width: 5rem;
}
.ant-menu-item .ant-menu-item-selected .ant-menu-title-content,.ant-menu-item .ant-menu-item-selected svg{
    font-size: 1rem;
}
