.centered {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 1;
}

.face {
    width: 50px;
    height: 50px;
    margin-left: 1.5rem;
    margin-top: 0.7rem;
    background-color: #fff;
    border-radius: 50%;
    -webkit-mask: url(https://i.imgur.com/RlyofWb.png) top left / cover;
    mask: url(https://i.imgur.com/RlyofWb.png) top left / cover;
}

.back {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    background: -webkit-linear-gradient(
        top,
        #ff694c 0%,
        #f15378 40%,
        #f15378 50%,
        #b54beb 60%,
        #5b86ee 70%,
        #00eeeb 100%
    );
    background: linear-gradient(
        top,
        #ff694c 0%,
        #f15378 30%,
        #f15378 40%,
        #b54beb 60%,
        #5b86ee 70%,
        #00eeeb 100%
    );

    -webkit-filter: saturate(0.5);
    filter: saturate(0.5);
    -webkit-transform: scale(1) rotate(-25deg);
    transform: scale(1) rotate(-25deg);
    -webkit-animation: spin 0.3s infinite linear alternate;
    animation: spin 0.3s infinite linear alternate;
}

.headphones {
    width: 100px;
    height: 10px;
    -webkit-animation: bounce 0.3s linear infinite alternate;
    animation: bounce 0.3s linear infinite alternate;
}

.earmuff {
    float: left;
    width:10px;
    height:30px;
    background: rgb(208, 116, 116);
    border-radius: 50% 10px 10px 50%;
    border-right: #f15378 solid 5px;
}
.earmuff:nth-child(2) {
    float: right;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.band {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: trnasparent;
    border-top: #f15378 solid 10px;
    z-index: -99;
}

/* .music {
    width: 80px;
    height: 0px;
} */
.group1 {
    float: left;
}
.group2 {
    float: right;
    -webkit-transform: rotate(180deg);
}
.wave {
    display: inline-block;
    opacity: 0.2;
    background-color: #f15378;
    -webkit-animation: wave 0.3s 0.2s linear infinite alternate;
    animation: wave 0.3s 0.2s linear infinite alternate;
}
.wave:nth-child(2) {
    -webkit-animation: wave 0.3s 0.1s linear infinite alternate;
    animation: wave 0.3s 0.1s linear infinite alternate;
}
.wave:nth-child(3) {
    -webkit-animation: wave 0.3s linear infinite alternate;
    animation: wave 0.3s linear infinite alternate;
}

@keyframes spin {
    to {
        -webkit-filter: saturate(1);
        -webkit-transform: scale(1.1) rotate(-25deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-filter: saturate(1);
        -webkit-transform: scale(1.1) rotate(-25deg);
    }
}

@keyframes bounce {
    to {
        -webkit-transform: scale(1.1);
    }
}

@-webkit-keyframes bounce {
    to {
        -webkit-transform: scale(1.1);
    }
}

@-webkit-keyframes wave {
    to {
        opacity: 1;
        -webkit-transform: scaleY(2);
    }
}
