.btn {
    position: relative;
    align-items: center;
    border-radius: 0.2rem;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.2rem;
    padding: 0.4rem 1.2rem;
    text-align: center;
    transition: 0.2s ease-in;
}

.btn:hover {
    color: black;
}

.btn--pink {
    background-color: var(--cancel_btn_cl);
    border: 2px solid var(--cancel_btn_cl);
}
.btn--pink-outline {
    background-color: white;
    border: 2px solid var(--cancel_btn_cl);
    box-sizing: border-box;
    color: var(--cancel_btn_cl);
}
.btn--pink-outline:hover {
    background-color: var(--cancel_btn_cl);
    color: #ffffff;
    box-shadow: 1px 2px 1px 2px #626262;
}
.btn--red {
    background-color: rgb(235, 98, 98);
}
.btn--yellow {
    color: black;
    font-weight: 500;
    background-color: #fcbe00;
}
.btn--purpleClicked {
    background-color: var(--cancel_btn_cl);
    border-radius: 6px;
}
.btn--purple {
    background-color: #170f23;
    border-radius: 6px;
}
.btn--purple:hover {
    background-color: var(--cancel_btn_cl);
    color: white;
}
