.Song-Thumbnail {
    width: 30rem;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}
.Control-Button-Group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
}
.Control-Button-Group svg {
    color: white;
    cursor: pointer;
    height: 2.4rem;
}

.Pause-Play-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 32px;
}
.time_current {
    color: #828080;
    width: 3rem;
}
.css-13ukp1p-Slider {
    margin-top: 10px;
}
.App svg:hover {
    transition: 0.3s ease-in;
    color: var(--cancel_btn_cl);
    font-size: 2.4rem;
}
