.Song-Thumbnail {
    width: 200px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}
.Control-Button-Group {
    display: flex;
    align-items: center;
    justify-content: center;

}
.Control-Button-Group svg{
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.Prev-Button,
.Next-Button {
    width: 40px;
}

.Pause-Play-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 22px;
    margin: 0 32px;
}
