.music_Grid_Item {
    position: relative;
    width: 100vw;
    cursor: pointer;
    line-height: 1.8rem;
    border-radius: 1rem;
    transition: 1s ease-in;
    color: var(--text_grey_cl);
    align-items: center;
    border-bottom: 2px solid var(--main_cl);
}

.music_Grid_Item-img img {
    border-radius: 0.5rem;
}
.music_Grid_Item-img {
    width: 3.2rem;
    height: 3.2rem;
    background-clip: cover;
    background-position: 0 0, center;
    background-image: cover;
}
.music_Grid_Item-content {
    display: none;
}

@media (min-width: 768px) {
    .music_Grid_Item-content {
        display: flex;
    }
}
.music_Grid_Item button svg {
    font-size: 1.5rem;
}
.music_Grid_Item button svg:hover {
    color: var(--cancel_btn_cl);
    font-size: 2rem;
    transition: 0.2s ease-in;
}
.mplaylist {
    cursor: pointer;
    margin: 1rem 0 1rem 0;
    transition: 0.3s ease-in;
    border-radius: 0.3rem;
    padding: 0.3rem;
}
.mplaylist:hover {
    background-color: rgba(134, 132, 132, 0.5);
}
@media (max-width: 600px) {
    .music_Grid_Item,
    h6 {
        font-size: 80%;
        line-height: 1rem;
    }
}
