.music_item {
    width: 250px;
    height: 380px;
    transform: translate3d(0px, 0px, 0px);
    margin-left: 0.2rem;
    cursor: pointer;
    transition: 0.5 ease-in;
    border-radius: 1rem;
    background-color: var(--grey_btn_cl);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.music_item-btn{
    float: right;
    background: var(--green_cl);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music_item-btn:hover{
    background: var(--text_grey_cl);
    transition: 0.2s ease-in;
}
.music_item-btn svg{
    width: 1rem;
    height: 1rem;
}
.music_item-image {
    min-height: 188px;
    width: 100%;
}
.music_item-image img {
    object-fit: cover;
    border-radius: 6px;
}
.music_item-content {
    border-radius: 6px;
    margin-top: 1rem;
    max-height: 3.4rem;
}
.music_item-content h6 {
    font-size: 20px;
    color: var(--white_cl);

}
.music_item-content p{
    color:var(--text_grey_cl);
}
