.music_Grid_Item{
    flex: 1;
    min-width: 350px;
    height: 90px;
    padding: 12px;
    transition: 0.2s ease-in;
    cursor: pointer;
    line-height: 1.5rem;
}
.music_Grid_Item:hover{
    background-color: #3d3d41;
}
.music_Grid_Item-img{
    width: 70px;
    height: 70px;
    background-clip: cover;

}
.music_Grid_Item-content{
    color: gray;
    font-weight: 500;
    text-align: start;

}