@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    @font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:root {
    --main_cl: #15181b;
    --bg_temp_cl: linear-gradient(
        247.87deg,
        #ec38bc 31.02%,
        #7303c0 69.78%,
        #03001e 91.18%
    );
    --bg_galaxy_1: linear-gradient(91.21deg, #fa2870 1.47%, #7a0dea 101.74%);
    --sidebar_cl: #0f1215;
    --cancel_btn_cl: #fa2870;
    --grey_btn_cl: #1b1e21;
    --footer_cl: #1e2833;
    --icon_cl: #0b1c2e;
    --white_cl: #ffffff;
    --text_grey_cl: #a9abad;
    --green_cl: #10c381;
}
html {
    box-sizing: border-box;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.ant-image-mask {
    display: none;
}
.ant-spin .ant-spin-dot-item {
    background-color: grey;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh - 120px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}
.swiper-button-next,
.swiper-button-prev {
    width: 3rem !important;
    height: 3rem !important;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--cancel_btn_cl);
}
.swiper-button-next::after,
.swiper-button-prev:after {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: var(--white_cl);
    border-radius: 50%;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--bg_galaxy_1);
    transition: 0.3s ease-in;
}
.ant-dropdown .ant-dropdown-menu {
    background: rgba(67, 73, 71, 0.8);
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    padding: 0;
}
.ant-dropdown .ant-dropdown-menu button {
    font-weight: 500;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    color: var(--white_cl);
}
.ant-dropdown .ant-dropdown-menu button:hover {
    color: var(--white_cl);
    background: var(--cancel_btn_cl);
    transition: 0.3s ease-in;
}
